<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Cadastro Usuario</title>
</head>
<body>
<div class="container">
    <form method="POST" action="/cadastro" class="formCadastro">
        <h1>Cadastro</h1>

        <label for="usuario">
            <input  type="text"
                    name="usuario"
                    id="usuario"
                    placeholder="Nome de usuario"
                    required
            >
        </label>
        <label for="senha">
            <input  type="password"
                    name="senha"
                    id="senha"
                    placeholder="Insira uma senha"
                    required
            >
        </label>
<!--        <label for="repeticaoSenha">-->
<!--            <input  type="password"-->
<!--                    name="repeticaoSenha"-->
<!--                    id="repeticaoSenha"-->
<!--                    placeholder="Repita a senha"-->
<!--                    required-->
<!--            >-->
<!--        </label>-->
        <button class="btnCadastrar" type="submit" >Cadastrar</button>
    </form>
</div>
</body>
</html>