<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login.css"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="module" src="/js/login.js" defer></script>
    <title>Login</title>
</head>
<body>
<div class="container">
    <form action="/" method="POST" class="formularioLogin">
        <h1>Login</h1>

        <label for="nome">
            <input
                    type="text"
                    name="nome"
                    id="nome"
                    placeholder="Nome de usuario"
                    required
            /></label>
        <label for="senha">
            <input
                    type="password"
                    name="senha"
                    id="senha"
                    placeholder="Insira sua senha"
                    required
            /></label>
        <div class="row">
            <button type="submit" id="btnLogar">Entrar</button>

        </div>
        <p class="row"><a href="redefinir">Não lembro usúario e senha.</a></p>

    </form>
</div>
</body>
</html>